---
layout: default
title: Italo Freitas
---

{% if post.posts.size == 0 %}
	<div class="subheading mb-2">Ainda não indiquei nada.</div>
{% else %}
	{% for post in post.posts %}
		<div class="content list">
			<div class="list-item">
				<h3 class="list-post-title">
					<a href="{{post.url}}"> - {{post.title}}</a>
				</h3>
				<div class="list-post-date">
					<time>{{post.date | date_to_string}}</time>
					<span class="reading-time"> | 2 minutos de leitura</span>
					<br><br>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
